
.myBestFriends{
padding-left: 20px;
  font-family: 'Roboto', sans-serif;

}
/*.container{*/
/*  margin: 0 auto;*/
/*}*/
.photoFriend{
  width: 40px;
  border-radius: 50%;

  /*margin: 0 auto;*/
  /*position: center;*/
  /*align-items: center;*/

}
.profileFriend {



}