.selectPage{
    font-weight: bold;
    border: 1px solid gainsboro;
    margin-left: 7px;

}
.pages{
    border: 1px solid gainsboro;

}

.myButton {
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    /*font-weight:bold;*/
    padding:4px 10px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
}
.myButton:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}