.header {
  grid-area: h;
  background-color: #2459B8;
}
.header img {
  width: 5000px;
  color: black;
  background-color: black;
}
.icon{
  color: white;
font-size: 25px;
  padding: 17px;
}
.loginBlock{
  float: right;
}

.loginBlock a {
  color:white;
}
