.nav {
  grid-area: n;
  background-color: #E9EBEE;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}
.item a {
  color: black ;
  text-decoration: none;
}
a.active{
  color: #2A60CA;
  text-decoration: none;
}
.myBestFriends{
  padding: 10px;

}